{
	"presets": ["@babel/preset-react"],
	"plugins": [
		[
			"import",
			{
				"libraryName": "antd",
				"libraryDirectory": "lib",
				"style": true
			}
		],
		"@babel/plugin-syntax-dynamic-import"
	]
}
